@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Tilt Neon", cursive;
  /* background-image: url("../public/bg.jpg"); */
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar-container {
  background-color: royalblue;
  display: flex;
  gap: 2em;
  padding: 1em 2em;
}

.diak-container,
.tanar-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 2em;
}

.navbar-container a {
  color: whitesmoke;
  text-decoration: none;
}

.diak-container,
.univerzalis-container {
  margin: auto;
  padding-bottom: 2em;
  width: 50%;
}

.diak-container img,
.tanar-container img {
  width: 250px;
  height: 300px;
  object-fit: cover;
}

.diak-container a,
.univerzalis-container a {
  color: teal;
  text-decoration: none;
}

.univerzalis-container table {
  border: 1px solid black;
}

.univerzalis-container table td {
  border: 1px solid black;
}

.univerzalis-container table td input {
  border: none;
}
